    body{ background:#fff}

	
    .jbjb{
        background-image: -webkit-gradient(linear,left top,left bottom,from(#FBFBFB),to(#D6C6AC));
        background-image: -webkit-linear-gradient(#FBFBFB,#D6C6AC);
        background-image: -moz-linear-gradient(#FBFBFB,#D6C6AC);
        background-image: -ms-linear-gradient(#FBFBFB,#D6C6AC);
        background-image: -o-linear-gradient(#FBFBFB,#D6C6AC);
        background-image: linear-gradient(#FBFBFB,#D6C6AC);
    }
    .pw{
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff; padding-left:5px; padding-right:5px;
        -moz-border-radius:5px;/*仅Firefox支持，实现圆角效果*/
        -webkit-border-radius:5px;/*仅Safari,Chrome支持，实现圆角效果*/
        -khtml-border-radius:5px;/*仅Safari,Chrome支持，实现圆角效果*/
        border-radius:5px;/*仅Opera，Safari,Chrome支持，实现圆角效果*/
    }
    .meCenterTitle {
        background: #fff;
        line-height: 24px;
        height: 24px;
        overflow: hidden;
        padding: 2px;
        color: #999;
        padding-left: 10px;
    }
    .meCenterBox {
        position: relative;
    }
    .meCenterBoxWriting {
        position: absolute;
        left: 36%;
        top: 20%;
    }
    .meCenterBoxAvatar {
        display: block;
        position: absolute;
        width: 18%;
        left: 10%;
        top: 20%;
    }
    .meCenterBoxEditor {
        position: absolute; 
        right: 10px;
        top: 10px;
    }
    .meCenterBoxWriting p {
        margin-bottom: 8px;
        line-height: 14px;
        color: #fff;
    }
    .meCenterBoxWriting p {
        margin-bottom: 8px;
        line-height: 14px;
        color: #fff;
    }

    .meCenterBoxAvatar a img {
        display: block;
        border: 6px solid #fff;
        border-radius: 10px;
        overflow: hidden;
        width:100%;
    }
    .gonglist{border-radius: 5px; border:1px solid #d1d1d1; border-bottom:none; overflow:hidden; margin:5px; display:none}
    .gonglist li{ text-align:center;width:100%;line-height:44px; height:44px; float:left; overflow:hidden;padding-bottom:2px;background-image: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#eeeeee));background-image: -webkit-linear-gradient(#FEFEFE,#eeeeee);background-image: linear-gradient(#FEFEFE,#eeeeee); border-bottom:1px solid #d1d1d1}
    .gonglist li a{ font-size:14px; display:block;<!--background:url(../images/pot.png) 93% center no-repeat -->}
    .gonglist li a:hover{ background:<!--url(../images/pot.png) 93% center no-repeat--> #EAEAEA;font-weight:bold;}
    .gonglist li.uli2 a{} 
    .gonglist li p{ position:relative}
    .gonglist li p a{ text-align:left}
    .gonglist li p i{ background-size:80%;list-style:decimal; width:20px; height:44px; float:left; margin-left:7%;background:url(../images/m.png) center center no-repeat;background-size: 16px 15px; margin-right:3px}
    .gonglist li p a span{height:24px; line-height:24px;display:block;text-align:center; font-size:12px; font-weight:bold; color:#B70000; cursor:pointer; position:absolute;right:25%; top:12px; z-index:99;}
    .uitem{ margin-bottom:10px;}
    .uitem p.pp{ position:relative; height:40px; line-height:40px;margin-bottom:7px; border:1px solid #ccc;border-radius:5px; text-align:left;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff4de),to(#f5e7cc));}
    .uitem p.pp a{ font-size:14px; display:block; padding-right:10%; /*background:url({{ URL::asset("../images/404-2.png")}}) 92% center no-repeat*/}
    .uitem p.pp a i{background-size:80%;list-style:decimal; width:20px; height:40px; float:left; margin-left:7%;background:url(../images/+h.png) 10% center no-repeat; margin-right:5px}
    .uitem p.pp a:hover{ background:#fff4de; font-weight:bold}
    .uitem p.pp a span{border-radius:10px; height:24px; line-height:24px; padding-left:15px; padding-right:15px;display:block;background:#ff0000; text-align:center; font-size:12px; font-weight:bold; color:#FFF; cursor:pointer; position:absolute;right:10%; top:8px; z-index:99;}

    .userindex a{ display:block; text-align:center; float:left; width:33.3%}
    .userindex a p{ padding:10px;}
    .userindex a img{ border:2px solid #FFF}
    .userindex a:hover img{ border:2px solid #de4943}
	.fa-list-ul::before {content: "";}
    

